* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    margin: 0;
  }
  
  .container-wrapper {
    background-color: rgba(255, 255, 81, 0.87);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  .container-wrapper.dom-editable {
    min-height: 100vh;
    height: auto;
    background-repeat: repeat;
    overflow: auto;
  }
  
  .container-wrapper.dom-editable .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  
  .container {
    width: 1200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
  }
  
  .main-header {
    color: white;
    max-width: 400px;
    min-width: 400px;
    margin-top: 100px;
  }
  
  .image-wrapper {
    width: 100%;
    height: 100%;
  }
  
  .image-wrapper img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  
  .list {
    width: 150px;
    color: rgb(11, 93, 121);
    margin: 0;
    font-size: bolder;
    text-align: left;
  }
  
  .list .list-item {
    cursor: pointer;
    margin: 15px 0;
    padding-left: 20px;
  }
  
  .list .list-item.red-bcg {
    background-color: #fc4646;
  }
  
  .table {
    color: lightblue;
    font-size: 18px;
  }
  
  .table td {
    border: 1px solid white;
  }
  
  .square,
  .change-color {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    width: 100px;
    height: 100px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: lightblue;
    color: lightgoldenrodyellow;
    margin: 50px;
  }
  
  .square .counter,
  .change-color .counter {
    font-weight: bold;
    font-size: 38px;
    width: 100%;
    background-color: transparent;
    border: none;
    color: lightgoldenrodyellow;
    outline: none;
    text-align: center;
  }
  
  .square .square-buttons-wrapper,
  .change-color .square-buttons-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 30px;
  }
  
  .square .square-buttons-wrapper .btn,
  .change-color .square-buttons-wrapper .btn {
    display: inline-block;
    border: none;
    background-color: transparent;
    outline: none;
    height: 100%;
    width: 50px;
    margin: 0 -4px;
    cursor: pointer;
    font-size: 24px;
    color: lightgoldenrodyellow;
  }
  
  .square.default-color,
  .change-color.default-color {
    background-color: rgb(197, 28, 28);
  }

  .square.blue-color,
  .change-color.blue-color {
    background-color: rgb(98, 126, 248);
  }
  
  .square.green-color,
  .change-color.green-color {
    background-color: rgb(37, 139, 6);
  }
  
  .square.yellow-color,
  .change-color.yellow-color {
    background-color: rgb(240, 255, 28);
  }
  
  .change-color {
    cursor: pointer;
  }
  
  